{% if user_id %}
    <div>Hello, <b>{{user_id.login}}</b></div>
    <div>AUTH OK !!! (user_id: {{ user_id }})</div>
    <li><a href="/logout">Выход</a></li>
{% else %}
	<h1>Not authenticated</h1>
    <div><a href="/login">Login</a></div>
    <div><a href="/signup">Sign up</a></div>
{% endif %}

<input type="text" name="csrf-token" value="{{ csrf }}" style="display: none" maxlength="1000">