<!-- LOGIN -->

<form action="/login" method="POST">
    
    <h2>Авторизация</h2>
    
    {% if error %}
    <h2 style="color: brown">{{error}}</h2>
    {% endif %}

    <h3>login / email:</h3>
        <input name="lgn" type="text" maxlength="100" autofocus />
    <h3>password:</h3>
        <input name="pwd" type="password" maxlength="50" />

    <input type="text" name="csrf-token" value="{{ csrf }}" style="display: none" maxlength="1000">
    
    <input type="submit" value="Вход" />
    <div>
        <a href="/signup">Регистрация</a>
    </div>
    
</form>

<!-- /LOGIN -->