<!-- SIGNUP -->

<form action="/api/signup" method="POST">

    <h2>Регистрация</h2>
            
    {% if error %}
    <h2 style="color: brown">{{error}}</h2>
    {% endif %}
            
    <h3>login:</h3>
        <input id="formUser" type="text" maxlength="100" autofocus />
    <h3>email:</h3>
        <input id="formEmail" type="text" maxlength="100" />
    <h3>password:</h3>
        <input id="formPwd" type="password" maxlength="50" />
        
    <input type="text" name="csrf-token" value="{{ csrf }}" style="display: none" maxlength="1000">
            
    <input type="submit" value="OK" />
    
    <div>
        <a href="/login">Авторизация</a>
    </div>
     
</form>

<!-- /SIGNUP -->